<header class="header">
  <div class="header__content">
    <div class="header__search-content">
      <img class="header__logo" src="logo.svg" alt="youtube logo" />
      <app-search-input></app-search-input>
      <app-settings-button (click)="toggleFilter()"></app-settings-button>
    </div>
    <div class="header__login">
      <app-login-info></app-login-info>
      <app-button btnAppearance="middle" (click)="onLogout()"
        >Logout</app-button
      >
    </div>
  </div>
  @if (isFilterShown) {
    <app-filter></app-filter>
  }
</header>
