<header class="header">
  <div class="header__content">
    <div class="header__search-content">
      <img class="header__logo" src="logo.svg" alt="youtube logo" />
      <app-search-input></app-search-input>
      <app-settings-button
        *ngIf="isSettingsVisible$ | async"
        (click)="toggleFilter()"
      ></app-settings-button>
    </div>
    <div class="header__login">
      <app-login-info></app-login-info>
      <app-button btnAppearance="middle" (click)="logout()" *ngIf="isAuthenticated$ | async; else loginBtn">
        Logout
           </app-button>
           <ng-template #loginBtn>
             <app-button btnAppearance="middle" (click)="login()">
               Login
             </app-button>
           </ng-template>
    </div>
  </div>
    <app-filter *ngIf="isFilterShown$  | async"></app-filter>
</header>
