.btn {
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow);
}

.small {
  display: flex;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: 4.5px;
}

.middle {
  width: 8rem;
  height: 2.4rem;
}

.right {
  border-radius: 0px 4px 4px 0px;
}

.left {
  border-radius: 5px, 5px, 0px, 0px;
}

.full {
  border-radius: 0.4rem;
}
