.btn {
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  background-color: var(--button-color);
  color: #ffffff;
  box-shadow: 2px 0px 4px 0px #2f80ed;
}

.small {
  display: flex;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: 4.5px;
}

.search {
  border-radius: 0px 4px 4px 0px;
  width: 8rem;
  height: 2.4rem;
}
