<div class="card__image-container">
  <img
    class="card__image"
    src="{{ cardItem.snippet.thumbnails.medium.url }}"
    alt="{{ cardItem.snippet.channelTitle }}"
  />
</div>

<div class="card__content">
  <app-card-stats
    [viewCount]="cardItem.statistics?.viewCount"
    [likeCount]="cardItem.statistics?.likeCount"
    [commentCount]="cardItem.statistics?.commentCount"
  ></app-card-stats>
  <div class="card__title">{{ cardItem.snippet.title }}</div>
  <div class="card__button">
    <div class="card__buttons">
      <app-button
        btnAppearance="large"
        [routerLink]="['/main/details', cardItem.id.videoId]"
        >more...</app-button
      >
      <button
        class="favorite__button"
        (click)="toggleFavorite(cardItem.id.videoId)"
      >
        <span class="favorite__img"></span>
      </button>
    </div>
  </div>
</div>
<div class="card__line" [appCardColor]="cardItem.snippet.publishedAt"></div>

<!-- [ngClass]="{ favorite: isFavorite, favorite_border: !isFavorite }" -->
