.admin-page {
  &__form {
    max-width: 43.5rem;
    margin: 4rem auto;
    padding: 2.8rem 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--form-color);
  }

  &__form-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2.7rem;
  }
}

.form {
  &__group {
    margin-bottom: 0.5rem;
  }

  &__group label {
    display: block;
    margin-bottom: 0.4rem;
    margin-top: 1.5rem;
    color: var(--light-text-color);
  }

  &__group input {
    width: 100%;
    padding: 1.3rem 0.9rem;
    border: none;
    background-color: var(--dark-input-bg);
  }

  &__group input:focus {
    outline-color: var(--accent-color);
  }

  &__group input.ng-invalid.ng-touched {
    border: 0.1rem solid var(--error-text-color);
    border-radius: 0.5rem;
  }

  &__group label.required::after {
    content: " *";
  }

  &__button {
    margin-top: 1.5rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }

  &__error {
    color: var(--error-text-color);
    margin: 0.5rem;
  }
}
