<div class="card">
  <div class="card__content">
    <div class="card__image-container">
      <img
        class="card__image"
        [src]="cardItem.url"
        alt="{{ cardItem.channelTitle }}"
      />
    </div>

    <div class="card-stats">
      <div class="card-stats__item">
        <span class="card-stats__viewed">{{ cardItem.viewCount }}</span>
      </div>
      <div class="card-stats__item">
        <span class="card-stats__like">{{ cardItem.likeCount }}</span>
      </div>
      <div class="card-stats__item">
        <span class="card-stats__dislike">{{ cardItem.dislikeCount }}</span>
      </div>
      <div class="card-stats__item">
        <span class="card-stats__comments">{{ cardItem.commentCount }}</span>
      </div>
    </div>
    <div class="card__title">{{ cardItem.videoTitle }}</div>
    <app-button btnAppearance="large">more...</app-button>
  </div>
  <div class="card__line"></div>
</div>
