<div class="login-page__form">
  <h2 class="login-page__form-title">Login</h2>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form__group">
      <label for="login" class="required">login</label>
      <input type="text" id="login" formControlName="login" name="login" required />
      <div *ngIf="login?.invalid && (login?.dirty || login?.touched)" class="form__error">
        <div *ngIf="login?.errors?.['required']">Please enter a login email.</div>
        <div *ngIf="login?.errors?.['email']">The login email is invalid.</div>
      </div>
    </div>
    <div class="form__group">
      <label for="password" class="required">password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        name="password"
        required
      />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="form__error">
        <div *ngIf="password?.errors?.['required']">Please enter a password.</div>
        <div *ngIf="password?.errors?.['minlength']">Your password must be at least 8 characters long.</div>
        <div *ngIf="password?.errors?.['passwordValidator']">{{ password?.errors?.['passwordValidator'].message }}</div>
      </div>
    </div>
    <div class="form__button">
      <app-button btnAppearance="large" [btnType]="'submit'" [disabled]="loginForm.invalid">Login</app-button>
    </div>
  </form>
</div>
