<header class="header">
  <div class="header__content">
    <div class="search-content">
      <img class="header__logo" src="logo.svg" alt="youtube logo" />
      <!-- <app-search-input (search)="onSearch($event)"></app-search-input> -->
      <app-search-input></app-search-input>
      <app-button
        (click)="isFilterShown = !isFilterShown"
        btnAppearence="small"
      >
        <app-setting-img></app-setting-img>
      </app-button>
      <!-- <app-settings-button></app-settings-button> -->
    </div>
    <app-login-info></app-login-info>
  </div>
  @if (isFilterShown) {
    <app-filter></app-filter>
  }
</header>
