<!-- <ng-container *ngIf="cardsList$ | async as cardsList">
  <app-card-item
    *ngFor="let cardItem of cardsList | filterWordPipe: (filterWord$ | async)"
    [cardItem]="cardItem"
  ></app-card-item>
</ng-container> -->

<ng-container *ngIf="cardsList$ | async as cardsList">
  <ng-container *ngFor="let cardItem of cardsList">
    <app-card-item
      *ngIf="!isCustomCardModel(cardItem)"
      [cardItem]="cardItem"
      [isFavorite]="
        (favoriteVideoIds$ | async)?.includes(cardItem.id.videoId) ?? false
      "
    ></app-card-item>
    <app-custom-card-item
      *ngIf="isCustomCardModel(cardItem)"
      [cardItem]="cardItem"
    ></app-custom-card-item>
  </ng-container>
</ng-container>

<!-- <app-pagination
  [currentPage]="(currentPage$ | async) || 1"
  (pageChange)="onPageChange($event)"
>
</app-pagination> -->
