.btn {
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--accent-color);
  box-shadow: var(--button-shadow);

  &:hover {
    background-color: var(--hover-color);
  }
}

button[disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.small {
  display: flex;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.45rem;
}

.middle {
  width: 8rem;
  height: 2.4rem;
}

.large {
  width: 12rem;
  padding: 0.64rem;
}

.right {
  border-radius: 0px 4px 4px 0px;
}

.left {
  border-radius: 4px 0px 0px 4px;
}

.full {
  border-radius: 0.4rem;
}
