.settings-button {
  width: 2.4rem;
  height: 2.4rem;
  padding: 4.5px;
  background-image: url("./../../../../assets/settings_button.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
