:host {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card-stats {
  &__viewed,
  &__dislike,
  &__like,
  &__comments {
    display: flex;
    align-self: center;
    gap: 0.3rem;
  }

  &__viewed::before {
    content: url("../../../../assets/img/viewed.svg");
  }

  &__dislike::before {
    content: url("../../../../assets/img/dislike.svg");
  }

  &__like::before {
    content: url("../../../../assets/img/liked.svg");
  }

  &__comments::before {
    content: url("../../../../assets/img/comments.svg");
  }
}
